.forumBGC {
    color: rgb(255, 255, 255);
}


.qaPage {
    text-align: center;
    background-color: rgb(223, 183, 123);

    >h1 {
        font-size: 90px;
    }

    >p {
        position: relative;
        font-size: 30px;
        top: 30px;
    }
}

.QAinfoPage {
    background-color: rgb(31, 50, 95);
}

.QAinfo {
    display: flex;

    .QAinfoTitle {
        text-align: center;


        h3 {
            border-bottom: 5px solid rgb(179, 45, 41);

            &:hover {
                background-color: rgb(179, 45, 41);
            }
        }
    }


}

.QAinfoQuestion {

    .Question {
        text-align: start;

        &:hover {
            background-color: rgb(16, 94, 140);
        }

        .QuestionPic {

            >img {
                width: 100%;
            }
        }
    }

    ul {
        li {
            list-style-type: none;
        }
    }
}